:root{
    --orange-color: #DA722C;
    --dark-blue-color :#023047;
    --blue-color :#057ADA;
    --dark-color :#070917;
    --light-color : #E8F7FB;
    --light-blue-color: #6F7DFB;
}
*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "poppins", sans-serif;
}
.wrapper {
    max-width: 100%;
    margin: 0 auto;
}

.btn{
    padding: 16px 32px;
    border-radius: 24px;
    color: white;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    position: relative;
}

.btn.dark{
    background: var(--dark-blue-color);
}

.btn.light{
    background: var(--orange-color);
}

.btn.enrol-icon::before {
    content: url('/imges/enroll2.svg');
    position: absolute;
    top: 50%;
    left: 32px;
    transform: translateY(-50%);
    
}
.btn.enrol-icon {
    padding-left: 60px;
    margin-left: 40px;
}

header {
    background: linear-gradient(180deg, #6F7DFB 0%, #26308C 100%);
    height: 100vh;
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 1500px;
    margin-left: 40px;
    margin-right: 40px;
    top: 36px;
    z-index: 100;
}
nav .logo{
    font-family: 'Raleway',sans-serif;
font-weight: 900;
font-size: 40px;
color: #FFFFFF;
margin-left: 10px;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 60px;
    list-style: none;
}
nav ul li a{
    font-family: 'Poppins'sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    color: #FFFFFF;
    text-decoration: none;
    
}
.hero-section{
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
    position: relative;
}
.hero-section .left h1{
    font-family: 'Raleway',sans-serif;
font-weight: 900;
font-size: 50px;
line-height: 125%;
margin-bottom: 0;
color: #FFFFFF;
margin-left: 40px;
}
.hero-section .left p{
    font-family: 'Poppins',sans-serif;
font-style: normal;
font-size: 16px;
color: #FFFFFF;
margin-bottom: 30px;
margin-left: 40px;
width: 457px;
}


.hero-section .left {
    flex: 1;
}
.hero-section .right {
    align-self: flex-end;
}

.hero-section .right img {
    height: 682px;
    vertical-align: middle;
}


.achivement-card {
    position: absolute;
}

.achivement-card .content {
   border-radius: 24px;
   background: #FFFFFF;
   padding: 8px 32px;
   z-index: 10;
   position: relative;
}
.achivement-card.students-enrolled {
    left: 46%;
    top: 390px;
    
} 

.achivement-card.Overall-Rating {
    left: 39%;
    top: 600px;
}

.achivement-card .content div {
    display: flex;
    align-items: center;
    gap: 12px;
}

